.contact {
  &__content {

  }
  &__grid {
    display: flex;
    gap: 40px 120px;
    flex-direction: column;
    @include breakpoint(xlarge) {
      flex-direction: row;
    }
  }
  &__content {
    flex: 1;
  }
  &__form {
    flex: 1;
    &-item {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      border-radius: 12px;
      padding: 40px 20px 5px;
    }
  }
  &__figure {
    img {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      border-radius: $global-radius;
    }
  }
}
