// 1. Global
// ---------

$global-width: rem-calc(1240);

// Typography
$body-antialiased: true;
$header-font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$body-font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$icons: 'Material Icons';
$material: 'Material Icons';

// Colors
$gray-50: #FAFAF9;
$gray-100: #F5F5F4;
$gray-200: #E7E5E4;
$gray-300: #D7D3D0;
$gray-400: #A9A29D;
$gray-500: #79716B;
$gray-600: #57534E;
$gray-700: #44403C;
$gray-800: #292524;
$gray-900: #1C1917;

$green: #4caf50;
$red: #d32f2f;

$overlay: rgba($gray-800, .4);

// Foundation Colors
/* $primary-color: #9E165F; */
$primary-color: #c79288;
$secondary-color: #c79288;
$success-color: $green;
$warning-color: #ffae00;
$alert-color: $red;

// Web Colors
$white: #fff;
$black: #222;
$light-gray: $gray-300;
$medium-gray: $gray-400;
$gray: $gray-500;
$dark: $gray-900;
$content-color: $gray-600;

// Breakpoints
$breakpoints: (
  small: 0,
  medium: 576px,
  large: 768px,
  xlarge: 992px,
  xxlarge: 1400px,
  xxxlarge: 1600px,
);
$breakpoint-classes: (small medium large xlarge xxlarge);

// Link Colors
$anchor-color: $content-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);

// Layout
$header-font-weight: 500;
$button-font-weight: null;
$global-radius: 6px;
$box-radius: 10px;
$body-font-color: $gray-600;
$global-lineheight: 1.6;
$paragraph-lineheight: 1.8;
$header-color: $gray-800;
$header-margin-bottom: 1rem;
$header-lineheight: 1.3;//1.25;


$header-styles: (
  small: (
    'h1': ('font-size': 30),
    'h2': ('font-size': 27),
    'h3': ('font-size': 24),
    'h4': ('font-size': 21),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 50),
    'h2': ('font-size': 27),
    'h3': ('font-size': 24),
    'h4': ('font-size': 21),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  ),
);

// Button
$button-font-weight: 700;
$button-radius: $global-radius;
$button-color: $black;
$button-background: $primary-color;
$button-background-hover: scale-color($button-background, $lightness: -10%);

// 18. Dropdown Menu
// -----------------

$dropdownmenu-arrows: true;
$dropdownmenu-arrow-color: #989898; //$anchor-color;
$dropdownmenu-arrow-size: 5px;
$dropdownmenu-arrow-padding: 1.5rem;
$dropdownmenu-min-width: 200px;
$dropdownmenu-background: null;
$dropdownmenu-nested-margin: 0;
$dropdownmenu-border: 0;
$dropdown-menu-item-color-active: #282828; //get-color(primary);
$dropdown-menu-item-background-active: transparent;

// 20. Forms
// ---------

$form-label-font-weight: 600;
$form-spacing: 0;
$input-shadow: 0;
$input-shadow-focus: 0;
$input-border: 1px solid $medium-gray;
$input-border-focus: 1px solid $primary-color;
$form-label-line-height: 1.4;
$input-font-size: rem-calc(16);
//$input-font-size: rem-calc(15);
$input-padding: rem-calc(15) * .7;
$input-radius: 0;

// 56. Xy Grid
// -----------

$grid-margin-gutters: (
  small: 30px,
  medium: 30px
);
