html {
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}
body {
	min-width: 360px;
	overflow-x: hidden;
	height: 100%;
}
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Height fix when admin bar is visible
.admin-bar {
  .site {
    min-height: calc(100vh - 46px);
    @include breakpoint(783) {
      min-height: calc(100vh - 32px);
    }
  }
}

.main-container,
.main {
  width: 100%;
  max-width: 100%;
  flex: 1;
}
.main-container,
.grid-container {
  /* padding-bottom: 6.6vmax; */
  &.full {
    max-width: 100%;
    margin: 0 !important;
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

.footer {
  flex-shrink: 0;
}

/*.grid-container {
	width: 100%;
  padding-right: 3vw;
  padding-left: 3vw;
	&--narrower {
		max-width: 860px;
	}
	&--narrow {
		max-width: 1040px;
	}
	&--wide {
		max-width: 1280px;
	}
	&--wider {
		max-width: 1410px;
		@include breakpoint(xxlarge) {
			padding: 0 70px;
		}
	}
	&--boxed {
		max-width: 1300px;
		@include breakpoint(large down) {
			background-color: #f9fafb;
		}
		.section__wrap {
			@include breakpoint(large down) {
				padding-top: 60px;
				padding-bottom: 60px;
			}
			@include breakpoint(xlarge) {
				background-color: #f9fafb;
				padding: 60px 50px;
			}
		}
	}
	&--image {
		max-width: 1410px;
		@include breakpoint(large down) {
			padding: 0;
		}
		.section__wrap {
			@include breakpoint(xlarge) {
				padding: 0 50px;
			}
		}
	}
}
*/

.user-in,
.user-out {
	display: none;
}
