.cards {
  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: 20px;
  grid-template-columns: repeat(1,100%);
  @include breakpoint(medium) {
    grid-template-columns: repeat(2,49%);
  }
  @include breakpoint(xlarge) {
    grid-template-columns: repeat(3,32%);
  }
  @include breakpoint(xxlarge) {
    grid-row-gap: 30px;
    grid-template-columns: repeat(4,23.5%);
  }
  &__item {

  }
  &__count {
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: rgba($gray-900, .6);
    font-weight: 600;
    font-size: 14px;
    span {
      font-size: 18px;
    }
  }
  &__title {
    font-size: 16px;
    @include breakpoint(medium) {
      font-size: 15px;
    }
    @include breakpoint(xlarge) {
      font-size: 15px;
    }
    @include breakpoint(xxlarge) {
      font-size: 18px;
    }
  }
  figure {
    margin-bottom: 2%;
    img {
      border-radius: 12px;
      width: 100%;
    }
  }
}
