.hero {
  position: relative;
  background-image: url('../images/hero-loop.webp');
  background-size: cover;
  background-position: center bottom;
  display: flex;
  align-items: center;
  text-align: center;
  height: 90vh;
  max-height: 900px;
  min-height: 520px;
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 2;
  }
  &:after {
    content: '';
    background-color: rgba(98,84,72,.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__title,
  &__desc {
    color: #fff;
    font-style: italic;
    font-weight: 300;
  }
}
