.tab-container {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  border-bottom: 1px solid $gray-200;
  .tab {
    padding: 16px 20px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    background-color: transparent;
    border: 0;
    color: $black;
    transition: color 0.3s ease;
    cursor: pointer;
    appearance: none;
    position: relative;
    &:focus-visible {
      outline: 2px solid $primary-color;
      outline-offset: 2px;
    }
    &.active {
      color: $primary-color;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $primary-color;
      }
    }
  }
}

.tab__count {
  margin-left: 4px;
}

.content-container {
  display: none;
  margin-top: 20px;
  &.active {
    display: block;
  }
}
