.loop-about {
  .grid-container {
    display: flex;
    gap: 60px 0;
    flex-direction: column;
    @include breakpoint(large) {
      flex-direction: row;
    }
  }
  &__left {
    flex: 1;
  }
  &__right {
    flex: 1;
    figure {
      @include breakpoint(large) {
        padding-left: 10vmin;
      }
    }
  }
}
