.about {
  &__grid {
    display: flex;
    gap: 6vw;
    align-items: center;
    @include breakpoint(large down) {
      flex-direction: column;
    }
    > div {
      flex: 1;
    }
  }
  &__content {
    flex: 1;
    font-size: 16x;
  }
  &__image {
    display: flex;
    img {
      max-width: 100%;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      border-radius: 10px;
    }
  }
}
