.testimonials {
  &__grid {
    display: flex;
    gap: 60px;
    flex-direction: column;
    @include breakpoint(xlarge) {
      //flex-direction: row;
    }
  }
  &__item {
    flex: 1;
    padding: 24px;
    border-radius: $box-radius;
    /* box-shadow: 0 2px 18px rgba(24,24,24,.16); */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__blockquote {
    position: relative;
    padding: 20px 0 0;
    margin: 40px 20px 10px;
    /* &:before {
      content: '';
      display: block;
      font-size: 60px;
      line-height: 60px;
    } */
    &::before {
      content: '“';
      position: absolute;
      top: -20px;
      left: -20px;
      font-size: 60px;
      line-height: 60px;
    }
  }
  &__person {
    display: flex;
    gap: 10px;
    align-items: center;
    &-wrap {
      max-width: 260px;
    }
    &-figure {
      img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
      }
    }
    &-name {
      font-weight: 600;
      font-size: 14px;
    }
    &-position {
      font-size: 13px;
    }
  }
}
