/* .page__header {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 60px;
}

.page__title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.yoast-breadcrumbs {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
} */

.page {
  &__breadcrumbs {
    margin-bottom: 20px;
  }
  &__header {
    margin-bottom: 6vh;
    background-color: #f1f1f1;
    padding: 6vh 0;
    &-grid {
      @include breakpoint(xlarge) {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
      }
    }
    &-content {}
    &-figure {
      @include show-for(xlarge);
      width: 33%;
      min-width: 33%;
      img {
        border-radius: 12px;
      }
    }
  }
  &__title {
    font-size: 21px;
    @include breakpoint(large) {
      font-size: 28px;
    }
    @include breakpoint(xlarge) {
      font-size: 36px;
    }
  }
  &__desc {
    margin-bottom: 1rem;
    p {
      margin-bottom: .5rem;
    }
  }
}
