.page__header {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 60px;
}

.page__title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.yoast-breadcrumbs {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}
